
.custom-switch.custom-switch-adaptive {
  padding-left: 0;
}
.custom-switch.custom-switch-adaptive .custom-control-label {
  padding: 0 1.5em;
  position: relative;
  border-radius: 1em;
  line-height: 1.4em;
  color: #6c757d;
  border: 1px solid #6c757d;
  background-color: #f8f9fa;
  transition: background-color 200ms;
}
.custom-switch.custom-switch-adaptive .custom-control-label::before {
  content: none;
}
.custom-switch.custom-switch-adaptive .custom-control-label::after {
  position: absolute;
  height: 1em;
  top: 0.2em;
  left: 0.2em;
  width: 1em;
  border-radius: 1em;
  transition: left 200ms;
}
.custom-switch.custom-switch-adaptive .custom-control-input:checked ~ .custom-control-label {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.custom-switch.custom-switch-adaptive .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  left: calc(100% - 1.2em);
  transform: none;
}
